<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채용공고 등록</title>

    <!-- link -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel="stylesheet" href="/css/offer/jobopening/add.css">

    <script src="/js/offer/jobopening/add.js" defer></script>
</head>
<body>

<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>
    <main>
        <section>

            <div class="add">
                <h1><span class="material-symbols-outlined" style="font-size : 2rem;">bookmark_added</span> 채용공고 등록</h1>
                <form action="/offer/jobopening/add" method="post" class="for" enctype="multipart/form-data">

                   <table class="table w-100" style="font-size:.8rem;">
                   <tbody>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">제목</td>
                           <td colspan="3"><input type="text" id="title" name="title" class="form-control" required></td>
                       </tr>
                        <tr class="career-tr">
                            <td class="text-light" style="background-color:#00a8ff">경력</td>
                            <td  colspan="2" id="career-field">
                                <input class="form-control w-100" name="career" required type="text">
                            </td>
                            <td style="text-align:right;"><a class="btn btn-secondary " href="javascript:addCareerField()">+</a></td>
                        </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff"> 학력</td>
                           <td colspan="3">
                               <select class="form-select" id="ability" name="ability" style="font-size:.8rem;border-radius:0;width:200px;" required>
                                   <option value="">학력을 선택하세요</option>
                                   <option value="middle_gradusate">중학교 졸업</option>
                                   <option value="high_graduate">고등학교 졸업</option>
                                   <option value="college_graduate">전문대학 졸업</option>
                                   <option value="university_graduate">대학 졸업</option>
                                   <option value="university_dropout">대학 중퇴</option>
                                   <option value="high_dropout">고등학교 중퇴</option>
                               </select>
                           </td>
                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">근무형태</td>
                           <td colspan="3"> <input type="text" id="jobwork" name="jobwork" class="form-control"  required></td>
                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">근무지역</td>
                           <td colspan="2">
                               <input type="text" id="jobzone" name="jobzone" class="form-control w-100" placeholder="기본주소" required>
                               <br>
                               <input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소" class="form-control">
                           </td>
                           <td style="text-align:right;width:45px;"><a href="" class="btn btn-secondary" style="font-size:.8rem;">
                                <span class="material-symbols-outlined" style="font-size:.8rem;">search</span>
                            </a>
                           </td>
                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">급여</td>
                           <td colspan="3" style="text-align:left;">
                               <div class="mb-1">
                                   <label><input type="checkbox" name="salary" value="2500~2600">&nbsp;2500~2600</label>&nbsp;
                                   <label><input type="checkbox" name="salary" value="2700~2800">&nbsp;2700~2800</label>&nbsp;
                                   <label><input type="checkbox" name="salary" value="2900~3000">&nbsp;2900~3000</label>&nbsp;
                                   <label><input type="checkbox" name="salary" value="3100~3200">&nbsp;3100~3200</label>&nbsp;
                                   <label><input type="checkbox" name="salary" value="3300~3400">&nbsp;3300~3400</label>&nbsp;
                                   <label><input type="checkbox" name="salary" value="negotiable">&nbsp;협의</label>&nbsp;
                               </div>

                           </td>
                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">우대사항</td>
                           <td colspan="3"> <input type="text" id="jobspecial" class="form-control w-100" name="jobspecial" required></td>
                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">복리후생</td>
                           <td colspan="3">   <input type="text" id="welfare" name="welfare"class="form-control w-100" required></td>
                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">근무지위치</td>
                           <td colspan="3"> <input type="text" id="jobplace" name="jobplace" class="form-control w-100" required></td>
                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">접수기간</td>
                           <td style="text-align:left">
                               <label style="font-size : .7rem;margin-bottom :2px;">시작일 : </label>
                               <input style="font-size : .8rem;" type="datetime-local" id="time" name="time" class="form-control w-100"  required>
                           </td>
                           <td style="text-align:left;margin-bottom :2px;" colspan="2">
                               <label style="font-size : .7rem;margin-bottom :2px;">종료일 : </label>
                               <input style="font-size : .8rem;" type="datetime-local" id="time2" name="time" class="form-control w-100"  required>
                           </td>

                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">접수방법</td>
                           <td colspan="3"> <input type="text" id="jobway" name="jobway"  class="form-control w-100" required></td>
                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">제출서류</td>
                           <td colspan="3"><input type="text" id="jobpapers" name="jobpapers"  class="form-control w-100" required>
                           </td>
                       </tr>
                       <tr>
                           <td class="text-light" style="background-color:#00a8ff">첨부 이미지</td>
                            <td colspan="3" style="text-align:left;">
                                <input type="file" id="files" name="file" class="form-control" required multiple>
                           </td>
                       </tr>
                    </tbody>

                   </table>
                    <button type="submit" class="submit-button">등록</button>

                </form>
            </div>
        </section>
    </main>

    <!-- Postcode Layer -->
    <div id="layer">
        <div class="bg" onclick="closeDaumPostcode()"></div>
        <div class="address-container" id="layerContainer"></div>
    </div>

    <!-- footer -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>
</html>